# Set default behavior to automatically normalize line endings
*               text=auto eol=lf

# Force specific filetypes to have unix line endings (LF)
*.js            text eol=lf
*.mjs           text eol=lf
*.json          text eol=lf
*.md            text eol=lf
*.txt           text eol=lf
*.css           text eol=lf

# Diffing and merging strategies
*.json          diff=json
*.js            diff=javascript
*.md            diff=markdown

# Merge strategies
*.json          merge=union
